@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', 'sans-serif';
    overflow: hidden;
}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

canvas{
    display:block;
    vertical-align:bottom;
    z-index:1;
    position: fixed;
}

#particles-js{
    position:absolute;
    width:100vw;
    height:100vh;
    background-color:rgba(0, 0, 0, 0.6);
    background-repeat:no-repeat;
    background-size:20%;
    background-position:50%50%;
    z-index:1;
}

/*estilização da página home*/

#navbar{
    width: 100vw;
    height: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    box-shadow: 0 3px 5px #0008;
    position: absolute;
    z-index: 2;
}

#navbar a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 200;
    color: #fff;
    transition: ease-in-out 0.3s;
    text-shadow: 1em;
}

#navbar #home{
    color: #000010ce;
    border-bottom: 1px solid #ffffff;
}

#navbar a:hover{
    transform: scale(1.1);
    opacity: 80%;
}

#main-container{
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
}

#main-container p{
    font-size: 32px;
    font-weight: 400;
}

#main-container span{
    font-size: 25px;
    font-weight: lighter;
    letter-spacing: 1rem;
}

/*estilização da página sobre mim*/

#about-me-container{
    width: 100vw;
    height: 100dvh;
    color: #fff;
    position: absolute;
}

#cta-title{
    width: 100vw;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cta-content{
    display: grid;
    grid-template-columns: 30vw 70vw;
    justify-items: center;
    align-items: center;
    height: 60vh;
}

#cta-content #left-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

#cta-content #left-block #links{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#cta-content #left-block img{
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
    align-self: center;
}

#cta-content #left-block #links i{
    font-size: 50px;
    align-self: center;
    color: #fff;
    text-decoration: none;
}

#cta-title span{
    font-size: 32px;
    font-weight: 400;
}

#cta-content ul li{
    font-size: 30px;
    font-weight: 200;
}

/*estilização da página skills*/

#skills-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#fff;
    position: absolute;
}

#skills-container #title{
    display: flex;
    align-items: center;
    height: 25vh;
}

#skills-container #skills{
    display: flex;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 45vh);
}

#skills-container #skills ul{
    width: 100vw;
    display: grid;
    justify-items: center;
}

#skills-container #skills ul li{
    width: 80%;
}

#skills-container p{
    font-size: 32px;
    font-weight: 400;
}

#skills-container li{
    font-size: 23px;
    font-weight: 200;
    letter-spacing: 0.5em;
}


